$no4: #eee1c9;
$medium: #685f5b;

.wrapper {
    background-color: transparent;
    border-radius: 3px;
    font-weight: 700;
    color: $medium;
    text-align: left;
}

.score {
    font-size: 26px;
    color: #edd073;
}