$no128: #edd073;
$bg: rgba(255, 255, 255, 0.6);
$dark:  rgb(77, 70, 70);

.bg {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30vh;
    background-color:$bg;
}

.wrapper {
    background-color: $no128;
    margin: auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    max-width: 500px;
    width: 85%;
    color: $dark;
    line-height: 1.5;
}